# Production Environment Variables

# 1. Variables Globales y DNS
NODE_ENV=production
# Reemplazar por tu dominio apuntado a la IP del VPS
DOMAIN=api.tu-dominio.com

# 2. Database Credentials (PostgreSQL DBaaS - Supabase / AWS RDS / DigitalOcean DB)
DB_USER=mi_usuario_admin
DB_PASSWORD=mi_super_password
DB_NAME=talent_platform_prod
# Apuntar directamente a la URL de tu Host Externo (NO a un contenedor localhost)
DB_PORT=5432

# Alias específicos de Auth Service y Job Service
AUTH_DB_HOST=postgres
AUTH_DB_NAME=talent_platform_prod
AUTH_DB_UNAME=postgres
AUTH_DB_PASSWORD=adminpassword

JOB_DB_HOST=postgres
JOB_DB_NAME=talent_platform_prod
JOB_DB_UNAME=postgres
JOB_DB_PASSWORD=adminpassword

# 3. Seguridad Múlti-Tenant
# GENERAR STRINGS RANDÓMICAS LARGAS DE 64+ CARACTERES
JWT_SECRET=generar_con_openssl_prod_key
AUTH_DB_PEPPER=generar_con_openssl_pepper_prod

# 4. APIs Externas
GEMINI_API_KEY=tu_nueva_api_key_de_produccion_google

# 5. Conexión Inter-Servicios (Traefik resuelve internamente)
AUTH_API_URL=http://applik_auth_prod:3001/api/v1
JOB_API_URL=http://applik_job_prod:3003/api/v1
AI_API_URL=http://applik_ai_prod:3000/api/v1
